.phone-section {
    background-color: #1c1c1e;
    height: 100vh;
    width:auto;
    overflow: hidden;

}

.fundo {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    scale: 63%;
    top: 680px;
    z-index: 1;
    right: 320px;
    width: 50vw;
    height: 140vh;
}

.fundo:hover {
    scale: 70%;
    top: 680px;
    z-index: 1;
}

@media (min-width:1440px) {
    .fundo {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        scale: 65%;
        top: 670px;
        z-index: 1;
        right: 380px;
        width: 50%;
        height: 140vh;
    }
    
    .fundo:hover {
        scale: 70%;
        top: 670px;
        z-index: 1;
    }
}

@media (min-width:1920px) {
    .phone-section {
        background-color: #1c1c1e;
        height: 100vh;
        width:100%;
        overflow: hidden;
    
    }
   
    .fundo {
        position:absolute;
        right: 500px;
        scale: 90%;
        top: 920px;
        z-index: 1;
    }

    .fundo:hover {
        position:absolute;
        scale: 95%;
        top: 920px;
        z-index: 1;
    }
}
