.line {
    margin-top: 80px;
    width: 90vw;
    opacity: 20%;
    margin-left: 50px;
    position: relative;
    z-index: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding-bottom: 100%;
}

.footer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .footer-slide {
    display: flex;
    gap: 200px;
    animation: scroll 30s linear infinite;
    width: calc(170px * 12 + 20px * 11);
  }

  .footer-slide img {
    width: 80px;
    height: auto;
  }

  @keyframes scroll {
    from { transform: translateX(100); }
    to { transform: translateX(-100%); }
  }

  @media (min-width: 1440px) {
    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      padding-bottom: 100%;
  }

  .line {
    margin-top: 80px;
    width: 90vw;
    opacity: 20%;
    margin-left: 50px;
    position: relative;
    z-index: 0;
}
  }

@media (min-width: 1920px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

  .line {
    width: 79%;
    margin-left: 200px;
    opacity: 20%;
    position: relative;
    z-index: 0;
  }

  .footer-slide {
    display: flex;
    gap: 200px;
    animation: scroll 30s linear infinite;
    width: calc(170px * 12 + 20px * 11);

  }

  .footer-slide img {
    width: 100px;
    height: 40px;
  }

}



  