.header-paragraph p {
    display: flex;
    justify-content: center;
    color: #6FDBD4;
    padding-top: 120px;
    padding-bottom: 20px;

}

.phone-section h2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: normal;
    font-size: 37px;
    line-height: 1.5rem;
}