.texts {
    display: flex;
    justify-content: space-between;
}

.text-left {
    width:fit-content;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 1.5rem;
}

.text-right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    text-align: end;
    margin-top: 40px;
}

.text-left p, .text-right p {
    color: #A0A1A8;
    font-size: 16px;
    line-height: 1rem;
    margin-top: 10px;
}

.text-left h3, .text-right h3 {
    font-size: 21px;
}

.text-left-down {
    width:fit-content;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    margin-top: 100px;
    line-height: 1.5rem;
}

.text-right-down{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    text-align: end;
    margin-top: 100px;
}

.text-left-down h3, .text-right-down h3 {
    font-size: 21px;
}

.text-left-down p, .text-right-down p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1rem;
    margin-top: 10px;
}

@media (min-width:1920px) {
    .texts {
        display: flex;
        justify-content: space-between;
    }
    
    .text-left {
        width:fit-content;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        margin-left: 200px;
        margin-top: 100px;
        line-height: 1.5rem;
    }
    
    .text-right {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        align-items: end;
        margin-right: 200px;
        text-align: end;
        margin-top: 100px;
    }
    
    .text-left p, .text-right p {
        color: #A0A1A8;
        font-size: 18px;
        line-height: 1.5rem;
        margin-top: 10px;
    }
    
    .text-left h3, .text-right h3 {
        font-size: 25px;
    }
    
    .text-left-down {
        width:fit-content;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        margin-left: 200px;
        margin-top: 150px;
        line-height: 1.5rem;
    }
    
    .text-right-down{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        align-items: end;
        margin-right: 200px;
        text-align: end;
        margin-top: 150px;
    }
    
    .text-left-down h3, .text-right-down h3 {
        font-size: 25px;
    }
    
    .text-left-down p, .text-right-down p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        line-height: 1.5rem;
        margin-top: 10px;
    }
}