.white-card-section {
    background-color: white;
    width: 100vw;
    height: 50%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.card-section-4 {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;
}

.card-section-4 img {
    margin-top: 100px;
    width: 50%;
    height: auto;
}

.paragraph {
    color: black;
    margin-right: 80px;
    font-size: 30px;
    text-align: start;
    margin-bottom: 150px;
    text-wrap: nowrap;
}

.paragraph span {
    color: #1FC6BB;
}

@media (min-width: 1024px) {

    .white-card-section {
        width: 100vw;
        height: 50vh;
    }

    .card-section-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
    }
    .card-section-4 img {
        margin-top: 200px;
        width: 350px;
        height: auto;
        margin-left: 100px;
    }
    
    .paragraph {
        display: flex;
        justify-content: end;
        color: black;
        font-size: 30px;
        text-align: start;
        text-wrap: nowrap;
        margin-top: 350px;
        margin-left: 100px;
    }
}

@media(min-width: 1440px) {
    .white-card-section {
        background-color: white;
        width: 100vw;
        height: 50%;
        overflow: hidden;
        position: relative;
        z-index: -1;
        overflow: hidden;
    }
   
    .paragraph {
        display: flex;
        justify-content: end;
        color: black;
        font-size: 30px;
        text-wrap: nowrap;
        margin-top: 350px;
        margin-left: 100px;
    }

    .card-section-4 img {
        margin-top: 200px;
        width: 350px;
        height: auto;
        margin-left: 200px;
    }

}

@media (min-width: 1441px) and (max-width: 2000px) {
    .card-section-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        position: relative;
        gap: 200px;
    }
    .card-section-4 img {
        margin-top: 100px;
        width: 500px;
        height: auto;
        margin-left: 100px;
    }
    
    .paragraph {
        display: flex;
        justify-content: end;
        color: black;
        font-size: 40px;
        text-align: start;
        margin-bottom: 150px;
        text-wrap: nowrap;
    }
}

