.credit-and-debit {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 80px;
    margin-top: 80px;
    padding-left: 320px;
}

.credit img{
    width: 266px;
    height: 123px;
}


.credit-and-debit p {
    font-size: 20px;
    margin: 20px;
    color: #10ACA2;
}

@media(min-width: 1024px) {
    .credit-and-debit {
        display: flex;
        justify-content: center;
        width: 100vw;
        gap: 5vw;
        margin-top: 35px;

    }
    
    .credit img {
        width: 250px;
        height: 130px;
    }
    
    .debit img {
        width: 220px;
        height: 130px;
    }

    .credit-and-debit p {
        font-size: 24px;
        margin: 10px;
        color: #10ACA2;
    }
}

@media(min-width: 1441px) {
    .credit-and-debit {
        display: flex;
        justify-content: center;
        width: 100vw;
        gap: 60px;
        margin-top: 80px;

    }
    
    .credit img {
        width: 320px;
        height: 170px;
    }
    
    .debit img {
        width: 270px;
        height: 170px;
    }

    .credit-and-debit p {
        font-size: 24px;
        margin: 10px;
        color: #10ACA2;
    }
}