.texts-section-6 {
    display: flex;
    width: 100%;
   
}

table {
    width: 800px;
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: 90px;
}

th, td {
    border-top: 1px solid rgba(128, 128, 128, 0.331);
    text-align: center;
    width: 100vw;
    padding: 15px;
    font-size: 14px;
}

td:nth-child(1) {
    text-align: left;
    width: 40%;

}

td:nth-child(2) {
    text-align: start;
}

td:nth-child(3) {
    text-align: center;

}

.zero-dolars {
    font-size: 40px;
    color: white;
}

@media(min-width:1024px) and (max-width:1440px) {
    .tabela {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: 30px;
        margin: 0;
    }

    table {
        width: 90vw;
        margin-top: 50px;
        border-collapse: collapse;
        margin-left: 0;
    }
    
    th, td {
        border-top: 1px solid rgba(128, 128, 128, 0.331);
        text-align: center;
        padding: 10px;
        font-size: 14px;

    }
    
    td:nth-child(1) {
        text-align: left;
    
    }
    
    td:nth-child(2) {
        text-align: start;
        
    }
    
    td:nth-child(3) {
        text-align: start;

    }
    
    .zero-dolars {
        font-size: 40px;
        color: white;
    }
}






