.texts-section-6 {
    background-color: red;
    display: flex;
    width: 100%;
   
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border-top: 1px solid rgba(128, 128, 128, 0.331);
    text-align: center;
    width: 360px;
    padding: 10px;
    font-size: 14px;
}

td:nth-child(1) {
    text-align: start;

}

td:nth-child(2) {
    text-align: start;
    padding-left: 10px;
}

td:nth-child(3) {
    text-align: start;
    padding-left: 70px;
}

.zero-dolars {
    font-size: 40px;
    color: white;
}






