.card-section { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-card-section {
    position: absolute;
    width:90vw;
    scale: 115%;
    top: 10px;
    left: 80px;
    height: 100vh;
    z-index: -1;

}

@media (min-width:1920px) {
    .card-section { 
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    
    .bg-card-section {
        position: absolute;
        height: auto;
        z-index: -1;
        width: 100%;
        overflow: hidden;
        scale: 100%;
        top: -100px;
    }
}
