.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.explore button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background-color: #6FDBD4;
    flex-direction: column;
    border-radius: 154.48px;
    font-size: medium;
    text-transform: uppercase;
    color: black;
    border-style:none;
    cursor:pointer;
    margin-top: 20px;
    overflow: hidden;
}

.explore button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: white;
    flex-direction: column;
    width: 150px;
    height: 80px;
    border-radius: 154.48px;
    font-size: medium;
    text-transform: uppercase;
    color: black;
    border-style:none;
    cursor:pointer;
    margin-top: 20px;
}

.login-button {
    display: flex;
    justify-content: end;
    width: 100vw;
    align-items: center;
    padding: 20px;

}

.login-button button {
    background-color: white;
    width: 140px;
    height: 50px;
    border-radius: 154.48px;
    font-size: medium;
    text-transform: uppercase;
    color: black;
    border-style: none;
    text-transform: bold;
    cursor: pointer;
    margin-right: 10px;
}

.login-button button:hover {
    background-color: #6FDBD4;
    width: 140px;
    height: 50px;
    border-radius: 154.48px;
    font-size: medium;
    text-transform: uppercase;
    color: black;
    border-style: none;
    text-transform: bold;
    cursor: pointer;
}