
.section-5 {
    display: flex;
    justify-content: space-between;
}

.images-section-5 {
    display: flex;
    background-color: #ebebf1;
    width: 50vw;
    height: 70vh;
}

.images-left {
    display: flex;
    justify-content: start;
    width: 216px;
    height: 2000px;
    margin-left: 40px;
    margin-bottom: 30px;
}

  .images-left {
    display: flex;
    flex-direction: column;
    animation: animation 60s linear infinite;
    width: calc(170px * 12 + 20px * 11);
  }

  @keyframes animation {
    from { transform: translateY(100); }
    to { transform: translateY(-100%); }
  }

.whole-foods {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 36px;
    margin-top: 80px;
}

.whole-foods img {
    width: 100px;
    height: 100px;
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 36px;
    margin-top: 80px;
}

.spotify img {
    width: 100px;
    height: 100px;
}

.amazon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 36px;
    margin-top: 80px;
}

.amazon img {
    width: 100px;
    height: 100px;
}

  .images-right {
    display: flex; 
    height: 2000px;
    white-space: nowrap;
    overflow: hidden;
    gap: 10px;
    flex-direction: column;
    width: calc(170px * 12 + 20px * 11);
    animation: animation 60s linear infinite;
    padding-top: 100px;

  }

    .images-right {
        height: 2000px;
        margin-bottom: 30px;
    }


    .netflix {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 180px;
        height: 180px;
        border-radius: 36px;
        margin-top: 80px;
    }

    .netflix img {
        width: 67px;
        height: 100px;
        
    }

    .uber-eats {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 180px;
        height: 180px;
        border-radius: 36px;
        margin-top: 80px;
    }

    .uber-eats img {
        width: 100px;
        height: 100px;
    }

    .uber {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 180px;
        height: 180px;
        border-radius: 36px;
        margin-top: 80px;
    }

    .uber img {
        width: 100px;
        height: 100px;  
    }

@media (min-width: 1024px) {

    .images-section-5 {
        display: flex;
        background-color: #ebebf1;
        width: 50vw;
        height: 80vh;
    }

    .images-left {
        margin-left: 50px;
        margin-bottom: 30px;
        

    }

    .images-right {
        margin-right: 30px;
    }


    .whole-foods {
        width: 180px;
        height: 180px;
    }
    
    .whole-foods img {
        width: 100px;
        height: 100px;
    }
    
    .spotify {
        width: 180px;
        height: 180px;
    }
    
    .spotify img {
        width: 100px;
        height: 100px;
    }
    
    .amazon {
        width: 180px;
        height: 180px;
    }
    
    .amazon img {
        width: 100px;
        height: 100px;
    }
    
    .netflix {
        width: 180px;
        height: 180px;
    }
    
    .netflix img {
        width: 80px;
        height: 100px;
        
    }
    
    .uber-eats {
        width: 180px;
        height: 180px;
    }
    
    .uber-eats img {
        width: 100px;
        height: 100px;
    }
    
    .uber {
        width: 180px;
        height: 180px;
    }
    
    .uber img {
        width: 100px;
        height: 100px;  
    }
}


@media(min-width: 1440px) {
    .images-left {
        margin-left: 100px;
        margin-bottom: 30px;
        

    }

    .images-right {
        margin-right: 30px;
    }
}

@media (min-width: 1920px) {
    .images-left {
        margin-left: 200px;
        margin-bottom: 30px;
    }

    .images-right {
        margin-right: 100px;
    }

    .whole-foods {
        width: 216px;
        height: 216px;
    }
    
    .whole-foods img {
        width: 120px;
        height: 120px;
    }
    
    .spotify {
        width: 216px;
        height: 216px;
    }
    
    .spotify img {
        width: 120px;
        height: 120px;
    }
    
    .amazon {
        width: 216px;
        height: 216px;
    }
    
    .amazon img {
        width: 120px;
        height: 120px;
    }
    
    .netflix {
        width: 216px;
        height: 216px;
    }
    
    .netflix img {
        width: 100px;
        height: 120px;
        
    }
    
    .uber-eats {
        width: 216px;
        height: 216px;
    }
    
    .uber-eats img {
        width: 120px;
        height: 120px;
    }
    
    .uber {
        width: 216px;
        height: 216px;
    }
    
    .uber img {
        width: 120px;
        height: 120px;
    }
}