.black-card-section {
    background-color: black;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.card-section-3 {
    display: flex;
    justify-content: end;
    margin-top: 65px;

}

.card-section-3  img {
    width: 350px;
    height: auto;

}

@media (min-width:1920px) {
    .black-card-section {
        background-color: black;
        height: 50vh;
        width: 100%;
        overflow: hidden;
    }

    .card-section-3 {
        display: flex;
        justify-content: end;
        margin-top: 124px;
    }

    .card-section-3  img {
        width: 430px;
        height: auto;
    
    }
}